.webp .img-contact {
    background-image: url('../img/encuentra.webp');
}

.no-webp .img-contact {
    background-image: url('../build/img/encuentra.jpg');
}

.no-wepb .img-contact {
    background-image: url(../img/header.jpg);
}