@include tablet {
    .iconos-nosotros {
        @include grid(3, 2rem);
    }

}


.icon {
    img {
        height: 10rem;
    }

    h3 {
        text-transform: uppercase;
    }

    p {
        max-width: 45rem;
    }
}